<ion-content color="primary" padding mode="ios">
  <ion-card>

    <ion-card-header class="header">
      Login
    </ion-card-header>

    <div class="logoDiv">
      <img class="logoImg" src="\assets\icon\audit.png" alt="Logo">
    </div>

    <ion-card-content class="content">
      <ion-item class="input">
        <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
      </ion-item>
      <ion-item class="input">
        <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
      </ion-item>
      <ion-button size="large" type="submit" routerLink="/tabs" expand="block">Login</ion-button>
    </ion-card-content>


    <ion-card-footer class="footer">
      <ion-text class="footerText">
        If you don't have an account, please <a routerLink='/register'>register</a> first!
      </ion-text>
    </ion-card-footer>

  </ion-card>
</ion-content>