<ion-header mode="ios" no-border>
  <ion-toolbar>

    <ion-title>
      Inventário
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar mode="ios" placeholder="Search Havings" type="text"   color="primary" 
     [(ngModel)]="busca" (ionInput)="filter($event)" clearInput></ion-searchbar>
     <!-- cancel-button-text -->
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">


  <ion-item *ngFor="let having of havings" (click)="openModal(having)">
    
    <ion-card class="company-profile">
      <ion-icon name="{{business-outline}}" id="icon"></ion-icon>
      <ion-card-header>
        <ion-card-subtitle class="sub"></ion-card-subtitle>
        <ion-card-title>{{having.id}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{having.type}}
      </ion-card-content>
    </ion-card>
        </ion-item>
        
        <!-- <ion-row>
      <ion-col class="photo-cell" >
        <ion-card>
            <img [src]="'https://unsplash.com/photos-'+ having.url" alt="" >
            {{having.id}}
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-item> -->

</ion-content>