<ion-header mode="ios" no-border>
  <ion-toolbar>

    <ion-title>
      Inventário
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar mode="ios" placeholder="Search Havings" type="text"   color="primary" 
      (ionInput)="getItems($event)" ></ion-searchbar>
     <!-- cancel-button-text -->
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">


  <ion-item *ngFor="let having of items" (click)="openModal(having)">
    
    <ion-card class="company-profile">
      <ion-icon name="pricetags-outline" id="icon"></ion-icon>
      <ion-card-header>
        
        <ion-card-title>{{having.type}}</ion-card-title>
        
      </ion-card-header>
      <ion-card-content>
        <ion-card-subtitle class="sub">{{having.departament}}</ion-card-subtitle>
        {{having.cat}}
      </ion-card-content>
    </ion-card>
        </ion-item>
        

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/createhavings']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>