<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let contact of contacts">
      <ion-avatar slot="start">
        <img [src]="'https://github.com/'+contact.username+'.png'" alt=""/>
      </ion-avatar>
      <ion-label>{{contact.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content> -->

<ion-header>

  <ion-toolbar mode="ios">
    <ion-title >Perfil</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="row" mode="ios">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons class="ion-no-padding" slot="end">      
      <ion-menu-button class="row"  mode="ios">
          <ion-icon name="person-circle-outline"></ion-icon>
          <!-- <ion-item *ngFor="let contact of contacts" >
            <ion-label><h6>{{contact.name}}</h6></ion-label>
          </ion-item> -->
      </ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-menu mode="ios" contentId="menu-content" side="end" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>Auditor Profile</ion-title>
      <ion-buttons slot="start">
        <ion-button class="row" mode="ios">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item *ngFor="let contact of contacts" (click)="showModal(contact)" button>       
        <ion-icon name="person-outline"></ion-icon>
      <ul class="ion-padding"> 
        <ion-label >{{contact.role}}</ion-label>
        <ion-label><h4>{{contact.name}}</h4></ion-label>
      </ul>
        </ion-item>
      
      
    </ion-list>
  </ion-content>
</ion-menu>


<ion-content mode="ios">
  <ion-router-outlet id="menu-content"></ion-router-outlet>

  <ion-card mode="ios" class="company-profile">
  <ion-avatar class="profile-pic">
    <img class="logo" src="\assets\icon\audit.png" alt="Logo">
  </ion-avatar>


  <h3><strong>Security Company</strong></h3>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
</ion-card>
</ion-content>
