<ion-header>

  <ion-toolbar mode="ios">
    <ion-title >Perfil</ion-title>
  </ion-toolbar>

  <ion-toolbar>

    <ion-buttons class="ion-padding" slot="end">      
      <ion-menu-button class="row"  mode="ios">
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label><h4>User</h4></ion-label>
      </ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-menu mode="ios" contentId="menu-content" side="end" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>Auditor Profile</ion-title>
      <ion-buttons slot="start">
        <ion-button class="row" mode="ios" routerLink="/create">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item *ngFor="let contact of contacts" (click)="showModal(contact)" button>       
        <ion-icon name="person-outline"></ion-icon>
      <ul class="ion-padding"> 
        <ion-label >{{contact.role}}</ion-label>
        <ion-label><h4>{{contact.name}}</h4></ion-label>
      </ul>
        </ion-item>
      
      
    </ion-list>
  </ion-content>
</ion-menu>


<ion-content mode="ios">
  <ion-router-outlet id="menu-content"></ion-router-outlet>

 <ion-list>

   <ion-item> 
      <ion-card mode="ios" class="company-profile" button>
        <ion-avatar class="profile-pic">
         <img class="logo" src="\assets\icon\audit.png" alt="Logo">
        </ion-avatar>
          
        <h4><strong>Security Company</strong></h4>
        <!-- <ion-item *ngFor="let comp of companys">
          {{company.name}}
        </ion-item> -->
    
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
      </ion-card>
   </ion-item>

   <!-- <ion-item>
      <ion-card mode="ios" class="company-profile" button>
        <ion-avatar class="profile-pic">
         <img class="logo" src="\assets\icon\audit.png" alt="Logo">
        </ion-avatar>
          
        <ion-item *ngFor="let comp of companys">
          <ion-label>{{company.name}}</ion-label>
        </ion-item>
    
         <h3><strong></strong></h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
      </ion-card>
    </ion-item>

      <ion-item>
        <ion-card mode="ios" class="company-profile" button>
          <ion-avatar class="profile-pic">
           <img class="logo" src="\assets\icon\audit.png" alt="Logo">
          </ion-avatar>
            
          <ion-item *ngFor="let comp of companys">
            <ion-label>{{company.name}}</ion-label>
          </ion-item>
      
           <h3><strong></strong></h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </ion-card>
   </ion-item> -->

 </ion-list>

<!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button routerLink="/createcompany">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab> -->


</ion-content>
