<ion-header mode="ios"> 
  <ion-toolbar>
    <ion-title>Company Details</ion-title>
   <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
       <ion-icon slot="icon-only" name="close"></ion-icon>
     </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
    <ion-card  mode="ios" >
      <ion-card-content id="text-color">
        <ion-list>
          <ion-item>
            <strong>Nome: &nbsp; </strong> {{ company.name }}
          </ion-item>
          <ion-item>
            <strong>Telefone: &nbsp; </strong> {{ company.phone }}
          </ion-item>
          <ion-item>
            <strong>E-mail: &nbsp; </strong> {{ company.email }}
          </ion-item>
          <ion-item>
            <strong>Title: &nbsp; </strong> {{ company.title }}
          </ion-item>
        </ion-list>

        
        <!-- <ion-button expand="block" [routerLink]="['/editcompany', company.name]" (click)="closeModal()">
          Editar 
        </ion-button> -->
        <ion-button expand="block" [routerLink]="['editcompany', company.name]" (click)="closeModal()">
          Editar 
        </ion-button>
        
      </ion-card-content>
    </ion-card>
</ion-content>
