<ion-content color="primary" padding mode="ios">
  <ion-card>

    <ion-card-header class="header">
      Create your account!
    </ion-card-header>

    <div class="logoDiv">
      <img class="logoImg" src="\assets\icon\audit.png" alt="Logo">
    </div>

    <ion-card-content class="content">
      <form  #form="ngForm" (ngSubmit)="register(form)">
        <ion-item class="input">
          <ion-input  name="name" type="text" placeholder="Name" ngModel required></ion-input>
        </ion-item>
        <ion-item class="input">
          <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
        </ion-item>
        <ion-item class="input"> 
          <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
        </ion-item>
        <ion-item class="input">
          <ion-input name="confirm" type="password" placeholder="Password again" ngModel required></ion-input>
        </ion-item>
        <ion-button  size="large" type="submit"  routerLink="/tabs" expand="block">Register</ion-button>
        <!-- [disabled]="form.invalid" -->
      </form>
    </ion-card-content>


    <ion-card-footer class="footer">
      <ion-text class="footerText">
        If you have an account, please make your<a routerLink='/login'>login</a> here!
      </ion-text>
    </ion-card-footer>

  </ion-card>
</ion-content>

